---
import heroposts from '/images/home/heroposts.svg'
---

<section>
    <img src={heroposts} alt="Posts" />
</section>

<style>
    section {
        width: 40vw;
        margin: 0 auto;
    }
</style>