---
import logo from '/images/home/brand/logo.svg'
import hero from '/images/home/brand/hero.svg'
import social from '/images/home/brand/social_media.svg'
---

<section>
    <div>
        <div class="brand">
            <img src={logo} alt="Logo" class="logo"/>
            <h1>Postagram</h1>
        </div>
        <div class="data">
            <h2>Personalized and unique content</h2>
            <p>automatic generation of text using language models</p>
            <img src={social} alt="Social Media"/>
        </div>
    </div>
    <img src={hero} alt="Hero"class="hero-image"/>
</section>

<style>
    section {
        display: flex;
        justify-content: space-between;
        background-image: url('/images/home/brand/background.svg');
        background-repeat: no-repeat;
        background-size: 60vw auto;
        background-position-x: 30vw;
        height: 60vw;
        margin: 0 0 15vw 10vw;
    }

    .data {
        font-size: 2vw;
        width: 30vw;
        margin-top: 5vw;
    }
    .hero-image {
        margin-right: 5vw;
        width: 44vw;
        position: absolute;
        right: 3vw;
    }
    .brand {
        display: flex;
        align-items: center;
        height: 17vw;
    }
    .logo {
        width: 20vw;
        height: auto;
    }
    .data img {
        width: 20vw;
    }
    .brand h1 {
        margin: 0;
        color: #1C3B50;
        font-family: 'Poppins-Medium', serif;
        font-size: 5vw;
        font-weight: 500;
    }
</style>