---
import brain from '/images/home/text-two/brain.svg'
---

<section>
    <div class="data">
        <h2>AI-powered design tools</h2>
        <p>
            Automatic text generation using language models
        </p>
    </div>
    <img src={brain} alt="Ninja">
</section>

<style>
    section {
        display: flex;
        margin: 0 auto;
        width: 80vw;
    }
</style>