---
import ninja from '/images/home/text-one/ninja.svg'
---

<section>
    <img src={ninja} alt="Ninja">
    <div class="data">
        <h2>Online design and editing</h2>
        <p>
            AI-powered design tools can automate certain tasks and suggest edits, 
            which can help designers save time and work more efficiently.
        </p>
    </div>
</section>

<style>
    section {
        display: flex;
        margin: 0 auto;
        width: 80vw;
    }
</style>